*{
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    background-color:#300878;
}

#setwakeuptime{
    width: 170px;
    height: 30px;
    border-radius: 3px;
    margin-left: 28px;
    border: 1px solid #edededd3;
    border-radius: 4px;
    color: #3D087BDE;
}

#setlunchtime{
    width: 170px;
    height: 30px;
    border-radius: 3px;
    margin-left: 54px;
    border: 1px solid #edededd3;
    border-radius: 4px;
    color: #3D087BDE;
}

#setnaptime{
    width: 170px;
    height: 30px;
    border-radius: 3px;
    margin-left: 68px;
    border: 1px solid #edededd3;
    border-radius: 4px;
    color: #3D087BDE;
    margin-top: 25px;
}
.main{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 4%;
    position: relative;
}
#grid1{
    width: 45%;
    height: 75vh;
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20% 50% 10% 20%;

}
.grid2{
    width: 45%;
    
    height:70vh;
    
    display:grid;
    
    grid-template-columns: repeat(1,1fr);
     grid-row-gap: 30px;
    
    grid-template-rows: 20% 95%;
}
   
#left{
    background-color: white;
    
    grid-column-start: 1;
     grid-column-end: 3;
      position:relative;
       border-radius:10px;

    
    }



#clock-pic{
    background-image: url("./img/clock2.png");
    background-size: 100% 100%;
    display: inline;
    width: 204px;
    height: 77px;
}

.left1{
    width: 100%;
    height: 33%;
    position: relative;
}


.left2{
    width: 80%;
    height: 100%;
    display: inline-block;
    padding:20px;
    position: absolute;
}

#set-time{
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;

    background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    padding-left: 70px;
    margin-top: 6px;
    text-align: left;
    font: normal normal 600 20px/38px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 2px;
    padding-bottom: 40px;
}


#set-time:hover{
    background: linear-gradient(to left ,#6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5);
}

#digital-clock{
    position: relative;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 1%;
}

#right-bottom-container{
    position: relative;
    
}

#lunch{
    position: relative;
    top: 0;
    background-color: white;
    padding-left: 5%;
    padding-top: 5%;
    width: 100%;
    height: 20%;
    font-size: 25px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #8E53F0;
}

.grid-item1{
    font-size:35px;

}

#lunchbottom{
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: white;
    background-image: url("./img/1.png");
    background-size: 100% 100%;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#div1{
    background-image: url("./img/wakeup.png");
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

#div2{
    background: transparent url('img/lunch_time.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 33px;
    height: 32px;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 34px;
    margin-top: 14px;
}

#div3{
    background: transparent url('img/nap_time.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 33px;
    height: 32px;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 34px;
    margin-top: 45px;

}

#lb1{
    width: 70%;
    height: 100%;
    position: absolute;
    top: 10px;
    margin: auto;
    opacity: 0.71;
    z-index: -1;
    border-radius: 10px;
    background-color: white;
}

#lb2{
    width: 60%;
    height: 100%;
    position: absolute;
    top: 20px;
    margin: auto;
    opacity: 0.28;
    z-index: -2;
    border-radius: 10px;
    background-color: white;
}

#clock1{
    width: 15%;
    height: 80%;
    float: left;
    color: #3D087B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}

#clock2{
    width: 15%;
    height: 100%;

    float: left;
    color: #8A11BF;

    align-items: center;
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F6E2FF;
    border-radius: 5px;



     
}

#clock3{
    font-size: 50px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    color: #8A11BF;

}

#clock4{
    width: 15%;
    height: 100%;

    float: left;
    color: #8A11BF;

    align-items: center;
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F6E2FF;
    border-radius: 5px;



}

#hours{
    font-size: 20px;
}
#minutes{
    font-size: 20px;

}
#seconds{
    font-size: 20px;

}

#clock5{
    font-size: 50px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    color: #8A11BF;
}

#clock6{
    width: 15%;
    height: 100%;
    float: left;
    color: #8A11BF;
    align-items: center;
    font-size: 15px;
    padding-top: 15px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F6E2FF;
    border-radius: 5px;



}

#clock7{
    padding-left: 10px;
    padding-right: 10px;
}

#clock8{
    width: 15%;
    height: 100%;
    color: white;
    font-family: sans-serif;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #CB52F8;
    border-radius: 5px;
}


#wakeuptime{
    text-align: left;
    font: normal normal normal 20px/28px sans-serif;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
    margin-left: -30px;
}

#lunchtime{
    text-align: left;
    font: normal normal normal 20px/28px sans-serif;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
    
}

#naptime{
    text-align: left;
    font: normal normal normal 20px/28px sans-serif;
    letter-spacing: 0px;
    color: #3D087B;
    opacity: 1;
    /* position: relative; */
    /* top: 25px; */
    

}

.line1{
    position: absolute;
top: 59px;
left: 51px;
width: 0px;
height: 33px;
border: 1px solid #C2C2C2;
opacity: 1
}
.line2{
    position: absolute;
    top: 55px;
    left: 51px;
    width: 0px;
    height: 33px;
    border: 1px solid #C2C2C2;
    opacity: 1
}



.divbox2{

    
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 340px;
    width: 470px;
    height: auto;
    background: #4c1e61 0% 0% no-repeat padding-box;
    border: 1px solid #4c1e61;
    display: none;
    
    border-radius: 10px;
    
}


